/* || Root */
:root {
  --gray-1: #333333;
  --gray-2: #4f4f4f;
  --gray-3: #bdbdbd;
  --white: #ffffff;
}

/* || General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  color: var(--gray-1);
  background-color: var(--white);
  font-size: 1.5rem;
  letter-spacing: -0.035rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1.5rem;
  overflow: auto;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}
ul {
  list-style-type: none;
}
img {
  width: 100%;
  display: block;
}

/* || Utilities */
.btn {
  text-transform: uppercase;
  color: var(--white);
  padding: 1.5rem 2.75rem;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 700;
  background-color: var(--gray-1);
  border: 2px solid var(--gray-1);
}

@media screen and (min-width: 760px) {
  .btn {
    font-size: 0.875rem;
  }
}

/* || Main Styling */
.main {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* Nav */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
}
.nav-center {
  max-width: 1200px;
}
.nav-header {
  display: flex;
  align-items: center;
}
.nav-header h4 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: "Inconsolata", monospace;
  font-weight: 700;
  letter-spacing: -0.08rem;
}

/* Section */
.section {
  margin: 4rem auto 7rem;
  max-width: 1200px;
}
.section-center {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}
.image {
  margin: 0 1.25rem 4rem;
}
.info {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.info h1 {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 1.75rem;
}
.info p {
  margin-bottom: 4rem;
  font-weight: 400;
  font-size: 1.125rem;
  color: var(--gray-2);
}
.info button {
  align-self: flex-start;
}
/* section media query */
@media screen and (min-width: 760px) {
  .section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 12.5rem auto 19.25rem;
  }
  .section-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 7rem;
  }
  .image {
    margin: 0;
  }
  .info h1 {
    font-size: 4rem;
    width: 15ch;
    margin-bottom: 2.25rem;
  }
  .info p {
    font-size: 1.5rem;
    width: 26ch;
    margin-bottom: 4rem;
  }
}

/* Footer */
.footer {
  display: flex;
  justify-self: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  color: var(--gray-3);
}
.footer a {
  font-weight: 700;
  color: var(--gray-3);
}
